<% if @game.current_turn == @game.player_1 %>
  <%= @game.player_1.name %> has chosen to heal.
<% else %>
  <%= @game.player_2.name %> has chosen to heal.
<% end %>
<p>
<form action="/play">
  <input type="submit" value="OK">
</form>
