<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
  <br>
  <label for="player_2">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <br>
  <label for="radio_button_1">
    <input type="radio" id="real_person" name="computer" value="false" checked="checked"> Real Person
    <input type="radio" id="computerised" name="computer" value=""> Computer
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
