<div class="wrapper">
  <div class="outcome">
    <h2>
    <% if @game.current_turn == @game.player_1 %>
      <%= @game.player_1.name %> has paralysis attacked <%= @game.player_2.name %>!
    <% else %>
      <%= @game.player_2.name %> has paralysis attacked <%= @game.player_1.name %>!
    <% end %>
    </h2>

    <% if rand(4) < 2 %>
    <% unless @game.player_2.computer %>
      <form action="/switch-turns" method="post">
        <input type="submit" value="OK" class="submit-button">
      </form>
      <% else %>
      <form action="/computer" method="post">
        <input type="submit" value="OK" class="submit-button">
      </form>
      <% end %>
    <% else %>
    <form action="/paralysis" method="get">
      <input type="submit" value="OK" class="submit-button">
    </form>
    <%end%>
  </div>
</div>
