<div class="wrapper">
  <div class="outcome">
    <h2><% if @game.current_turn == @game.player_1 %>
        <%= @game.player_1.name %> has tried to send <%= @game.player_2.name %> to sleep!
        <% else %>
        <%= @game.player_2.name %> has tried to send <%= @game.player_1.name %> to sleep!
        <% end %></h2>
    <form action="/sleep" method="post">
      <input type="submit" value="OK" class="submit-button">
    </form>
  </div>
</div>
